<p>
    <textarea rows="1" cols="90" readonly pInputTextarea [(ngModel)]="myAPS" #aps></textarea> &nbsp;
    <p-button [ngxClipboard]="aps">Copy</p-button>
</p>
<p>
    <textarea rows="1" cols="90" readonly pInputTextarea [(ngModel)]="myARH" #arh></textarea>&nbsp;
    <p-button [ngxClipboard]="arh">Copy</p-button>
</p>
<p>
    <textarea rows="1" cols="90" readonly pInputTextarea [(ngModel)]="globalSessionId" #glblsessionid></textarea>&nbsp;
    <p-button [ngxClipboard]="glblsessionid">Copy</p-button>
</p>
<p>
    <textarea rows="1" cols="90" readonly pInputTextarea [(ngModel)]="resourceName" #rname></textarea>&nbsp;
    <p-button [ngxClipboard]="rname">Copy</p-button>
</p>